*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.main{
    width: 100vw;
    height: 100vh;
    background-image: url(/dist5/image/css.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
h1{
    font-family: 'Kaushan Script', cursive;
    background: #fff;
    padding: 0 10px;
    mix-blend-mode: screen;
    font-size: 4rem;
   
    
    
}