*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.center{
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1f;
    display: grid;
    place-items: center;
    
}
.logo{
    width: 30rem;
    height: 10rem;
    border: .6rem solid #59d3ff;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    animation: rot 5s linear infinite;
    
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.logo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: .6rem solid #59d3ff;
    border-radius: 50%;
    transform: rotate(60deg);
}

.logo::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: .6rem solid #59d3ff;
    border-radius: 50%;
    transform: rotate(-60deg);
}
.circle{
    width: 4rem;
    height: 4rem;
    background-color: #59d3ff;
    border-radius: 50%;
}